<template>
    <div>
        <h1>Projects</h1>
        <router-link to='project/1'>CNN</router-link>
        <h1>{{projects.length}}</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Tasks</th>
                    <th>External Key</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-if="projects.length" v-for="project in projects" v-on:click="openProject(project)">
                    <td>{{project.Name}}</td>
                    <td>{{project.ProjectTasks.length}}</td>
                    <td>{{project.ExternalSystemKey}}</td>
                    <td align="center">
                        <button type="button" class="btn btn-danger" v-on:click="deleteProject(project, $event)">
                            Delete
                        </button>
                    </td>
                </tr>
                <tr>
                    <td><input class="form-control" v-model="blankProject.Name" /></td>
                    <td><input class="form-control" readonly="readonly" /></td>
                    <td><input class="form-control" v-model="blankProject.ExternalSystemKey" /></td>
                    <td align="center"><button type="button" class="btn btn-success" v-on:click="addProject()">Add</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script src="./projects.ts"></script>
