<template>
    <fieldset>
        <h1>Time Entry</h1>
        <div class="form-group">
            <div class="panel panel-primary" v-for="(dayEntry, index) of dayEntries">
                <div class="panel-heading">
                    <h3 class="panel-title">{{dayEntry.dateDisplay}}</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="15%">Project</th>
                                <th width="15%">Task</th>
                                <th width="16%">Start</th>
                                <th width="16%">End</th>
                                <th style="text-align:center" width="10%">Duration</th>
                                <th width="20%">Comment</th>
                                <th style="text-align:center" width="10%">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="index === 0">
                                <td>
                                    <select class="form-control" v-model="blankTimeEntry.SelectedProject" v-on:change="updateTasks">
                                        <option value="">--Select--</option>
                                        <option v-for="project in projectOptions" v-bind:value="project">
                                            {{project.Name}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control" v-model="blankTimeEntry.SelectedTask">
                                        <option value="">--Select--</option>
                                        <option v-for="task in taskOptions" v-bind:value="task">
                                            {{task.Name}}
                                        </option>
                                    </select>
                                </td>
                                <td>timein</td>
                                <td>timeout</td>
                                <td>duration</td>
                                <td>comment</td>
                                <td align="center">
                                    <button type="button" class="btn btn-default" v-bind:disabled="blankTimeEntry.SelectedTask === undefined" @click="startWork(dayEntry.dateDisplay)">
                                        <i class="fa fa-play"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr v-for="timeEntry of dayEntry.timeEntries">
                                <td>{{timeEntry.Project.Name}}</td>
                                <td>task name</td>
                                <td>timein</td>
                                <td>timeout</td>
                                <td>duration</td>
                                <td>comment</td>
                                <td>buttons</td>
                            </tr>
                            <tr v-if="dayEntry.timeEntries.length">
                                <td />
                                <td />
                                <td />
                                <td />
                                <td align="center">total for the day</td>
                                <td />
                                <td />
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </fieldset>

</template>

<script src="./timeEntry.ts"></script>